<!DOCTYPE html>
<html>
<head>
  <title>Centuries Past Trading Co. CRM</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="container">
    <%= link_to image_tag("CPTCHeader3.png"),users_path%>
    <% if get_current_user == nil %> <!-- if no login show new secctions with sign up/sign in links {will edit later to look nice}-->
        <p><%= link_to 'Sign up', new_user_path %> <strong>|</strong> <%= link_to 'Sign in', sessions_path %></p>
        <% else %>
            <h4>Welcome, <%= get_current_user.name %> | <%= link_to 'Edit Profile', edit_user_path(get_current_user) %> | <%= link_to "Sign out", session_path(session), method: :delete, data: { confirm: 'Are you sure you want to sign out?' } %> </h4>
    <% end %>
    <% if get_current_user != nil %>
    <%= link_to 'New Customer', new_customer_path %> |  <%= link_to 'View All Customers', customers_path%> <br />
    <% end %>
  <%= yield %>

  </div>

</body>
</html>
